.navbar {
	background-color: #000000;
	width: 100%;
	padding: 10px;
	padding-left: 145px;
}

a {
	margin-right: 30px;
	text-decoration: none;
	color: white;
}

#logo {
	width: 100px;
	padding-right: 20px;
}

#link_one {
	color:#E13A63;
}

body {
	font-family: 'Raleway', sans-serif;
}

h1 {
	color:#E13A63;
	font-size: 36px;
	font-weight: lighter;
}

h2 {
	color:#2f4f4f;
	font-size: 30px;
	font-weight: lighter;
	line-height: 10px;
	padding-top: 10px;
}

.prog {
	width: 30px;
	padding-top: 10px;
}